*{
    font-family: "Roboto-Condensed",sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 15px;
}

html{
    font-family: "Roboto-Condensed",sans-serif;
    font-size: 15px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

@font-face{
    font-family: Roboto-Condensed;
    src: url(../CSS/font/roboto/RobotoCondensed-Regular.ttf);
}

body{
    background-color: #f3f3f3;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: none;
    color: #000;
}

/* HEADER */
.logo-header{
    height: 50px;
    width: 150px;
}

.small-ava{
    height: 38px;
    width: 38px;
    border-radius: 100%;
    background-color: #fff;
}

.nav-item .nav-link{
    font-size: 20px;
}

.header-menu{
    background-image: url(../images/studying.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    filter: brightness(50%);
    background-attachment: fixed;
}

.big-title{
    text-transform: uppercase;
    color: #ffffff;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 4px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid #ffffff 3px;
    padding: 4rem 5rem;
}

/* TREE */
.tree ul .list-group-item{
    padding: 0;
    margin-bottom: 2px;
    border-radius: 5px;
    border: none;
}

.tree ul .list-group-item a{
    width: 100%;
    font-size: 19px;
}

.tree ul .list-group-item ul li a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.tree ul .list-group-item ul li{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tree-table{

    padding: 30px 25px 30px 15px;
    background-image: linear-gradient(to top left, #14279B, #3D56B2, #5C7AEA);
}

.my-table{
    padding: 10px;
    background-color: #ffffff;
    border: solid 3px #e0e0e0;
    border-radius: 10px;
    height: 500px;
    overflow-y: scroll;
}

.tree{
    padding: 12px;
}

.tree ul li{
    background-color: #f4f4f4;
}

.my-table-item.row{
    margin: 0 !important;
    padding:10px;
    border:solid 2px #000;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px !important;
    background-color: #f4f4f4;
}

.item-ava{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #000;
}

.item-detail{
    align-items: self-start;
    justify-content: space-around;
}

.item-class{
    justify-content: center;
    align-items: center;
}

.box-shadow:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    background-color: #ffffff;
}