.back {
    background: #6a11cb;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,rgba(98, 40, 161, 0.445),rgba(12, 71, 172, 0.438) );
    min-height: 660px;
    padding-top: 80px;
    padding-bottom: 46px;
}
